*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #0e0c0c;
    color: #eee6e6eb;
}
 #header{
    
    width: 100%; 
    height: 100vh;
    background-image: url( ./WhatsApp\ Image\ 2024-05-27\ at\ 9.57.53\ PM.jpeg);
     background-size: cover;
    background-position: center;
} 

.container{
    padding: 10px 3%;
    
}
nav{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
     align-items: flex-start;
    justify-content: space-between; 
     flex-wrap: wrap; 
} 
.logo{
   margin-bottom: 10%;
    width: 140px;
    order: -1;
}
nav ul li{
   
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    height: 70px;
}
nav ul li a{
    
    color:#5f6365;
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #cb0738;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
} 


  
  /* Dropdown Styles */
  .drop-down {
    position: relative;
    display: inline-block;
  }
  
  .drop-down .content {
    display: none;
    position: absolute;
    background-color: #00246B;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    margin-top: 10px;
  }
  .drop-down:hover .content {
    display: block;
  }
  
  .drop-down .content a {
    display: block;
    padding: 10px 20px;
    color: #CADCFC;
  }
  
  .drop-down .content a:hover {
    background-color: #CADCFC;
    color: #00246B;
  }


.header-text{
    margin-bottom: 40%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-bottom: 50px;
}
.header-text h1 span{
    color: #ff004f;
}
/*--------about--------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    display: flex;
    justify-content: center;
    border-radius: 15px;
      width: 100%;
/* margin-top: 50px; */
/* height: 450px; */

}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
   font-size: 60px;  
   font-weight: 600;
   color: #fff;
   text-align: left;
}
.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}
.tab-link{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-link::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-link.active-link::after{ 
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*---------services-----------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/*--------portfolio--------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 50%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 50%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    background: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
.btn:hover{
    background: #ff004f;
}
/*------contact----------*/
#contact{
    margin-top: 20px;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 20px;
}
.social-icon{
    margin-top: 30px;
}
.social-icon a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.map-container{

    margin-left: 20%;


}
h1{
    margin-bottom: 10px
}


.designed{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.designed p span{
    color: #ff004f;
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
@media only screen and (max-width: 600px) {
    .map-container{

        margin-left: 20%;
    
    
    }
    
  }




